/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-shadow: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
