:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --h-text-color: #000028;
  --accent-color: #FF0070;
  --title-shadow: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
}

.theme-dark .page {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme-dark .title-decor::after {
  background-color: var(--decor-color);
}

.theme-dark .footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}