:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-shadow: #ff8dcb;
  --title-color: #ffc2e6;
  --section-title-color: var(--text-color);
  --article-title-color: var(--text-color);
  --bg-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
  --border-color: #353430;
  --hover-color: #32312d66;
  --menu-text-color: #353430;
}

.theme-light .page {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme-light .header__decoration {
  display: none;
}

.theme-light .footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-shadow: #ff8dcb;
    --title-color: #ffc2e6;
    --section-title-color: var(--text-color);
    --article-title-color: var(--text-color);
    --bg-image: url(../images/cover-image-light.png);
    --rec-visibility: hidden;
    --border-color: #353430;
    --hover-color: #32312d66;
    --menu-text-color: #353430;
  }

  .theme-auto .header__decoration {
    display: none;
  }
}
