:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-shadow: #FF8DCB;
  --section-title-color: var(--text-color);
  --article-title-color: var(--text-color);
  --bg-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
}

.theme-light .page {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme-light .header__decoration {
  display: none;
}

.theme-light .header__theme-menu-button {
  border-color: var(--hover-border-color);
  color: var(--text-color);
}

.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button:disabled {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.theme-light .title-decor::after {
  background-color: var(--decor-color);
}

.theme-light .footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}